includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Parameter \#3 \$subject of function str_replace expects array\|string, string\|false given#'
        - '#Method Nexendrie\\Translation\\Bridges\\Tracy\\TranslationPanel::getPanel\(\) should return string but returns string\|false#'
        - '#Construct empty\(\) is not allowed. Use more strict comparison#'
        - '#Parameter \#1 \$input of static method Nette\\Neon\\Neon::decode\(\) expects string, string\|false given#'
        - '#Parameter \#2 \$domain of method Nexendrie\\Translation\\Loaders\\FileLoader::addResource\(\) expects string, int\|string given#'
        - '#Method Nexendrie\\Translation\\Loaders\\IniLoader::parseFile\(\) should return array but returns array\|false#'
        - '#Variable property access on Nette\\Http\\SessionSection#'
        - '#Parameter \#1 \$message \(string\) of method Nexendrie\\Translation\\Translator::translate\(\) should be contravariant with parameter \$message \(mixed\) of method Nette\\Localization\\ITranslator::translate\(\)#'
        - '#Parameter \#1 \$json of static method Nette\\Utils\\Json::decode\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$s of static method Nette\\Utils\\Strings::trim\(\) expects string, string\|null given#'
        - '#Method Nexendrie\\Translation\\Translator::translate\(\) has parameter \$parameters with no typehint specified#'
