includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Parameter \#3 \$subject of function str_replace expects array\|string, string\|false given#'
        - '#Method Nexendrie\\Translation\\Bridges\\Tracy\\TranslationPanel::getPanel\(\) should return string but returns string\|false#'
        - '#Construct empty\(\) is not allowed. Use more strict comparison#'
        # this cannot be fixed until next major release
        - '#Method Nexendrie\\Translation\\[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) has no return typehint specified#'
        - '#Parameter \#1 \$input of static method Nette\\Neon\\Neon::decode\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$input of static method Symfony\\Component\\Yaml\\Yaml::parse\(\) expects string, string\|false given#'
        - '#Parameter \#2 \$domain of method Nexendrie\\Translation\\Loaders\\FileLoader::addResource\(\) expects string, int\|string given#'
        - '#Method Nexendrie\\Translation\\Loaders\\IniLoader::parseFile\(\) should return array but returns array\|false#'
        - '#Parameter \#1 \$instance of function class_parents expects object\|string, string\|null given#'
        - '#Parameter \#1 \$what of function class_implements expects object\|string, string\|null given#'
        - '#Variable property access on Nette\\Http\\SessionSection#'
        - '#Parameter \#[0-9] (\$message|\$count) \((string|int)\) of method Nexendrie\\Translation\\Translator::translate\(\) should be contravariant with parameter (\$message|\$count) \(mixed\) of method Nette\\Localization\\ITranslator::translate\(\)#'
        - '#Method Nette\\DI\\CompilerExtension::getConfig\(\) invoked with 1 parameter, 0 required#'
