includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-nette/extension.neon
parameters:
    ignoreErrors:
        - '#Parameter \#2 \$interval of static method Nexendrie\\Translation\\Intervals::isInInterval\(\) expects string, string\|null given#'
